.container {
  display: flex;
  height: 80vh;
  width: 80vh;
  flex-shrink: 1;

  flex-direction: column;
}
.header {
  display: flex;
  flex-direction: column;
}
body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.newRow {
  display: flex;
  flex-grow: 1;
}
.newDiv {
  display: flex;
  flex-grow: 1;
  border: 2px solid;
  border-color: blueviolet;
}
